
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/**! ***COLORS*************/
/**! ***COLORS*************/
/**! ***COLORS*************/
:root {
    --orange: #FFAC1C;
    /* ORANGE color */
    --black: #000;
    /* BLACK color */
    --white: #fff;
    /* WHITE color */
    --cream: #ECE7E2;
    --grey: #ECE7E2;
    --grey2: #323232;
    --grey3: #1E1E1E;
    --radius: 20px;
  }
  
  
  
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Inter", sans-serif;
  }
  
  body::-webkit-scrollbar {
    width: 0;
  }
  
  body.lock {
    overflow: hidden;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-ms-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: 400;
  }




  .login__container {
    width: 100%;
    height: 100%;
    display: flex;
justify-content: space-between;
    background-color: #fff;
    position: relative;
}
.login__container-form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}
.login__container-image{
  width: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 10px 55px;
}

.login__logo{
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: 50px;
}
.login__logo img {
  width: 100%;
}

.form__container {
    width: 400px;
  position: relative;

}
.form__image {
    margin-bottom: 20px;
}
.form__input__container {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #242323;
    height: 62px;
    width: 400px;
    border-radius: 5px;


    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.form__input__container-hidden{
  display: none;
  visibility: hidden;
  height: 0px;
  width: 0px;
}
.form__input__container p {
  position: absolute;
  background-color: #fff;
  left: 15px;
  top: -10px;
  padding: 0px 10px;
  color: #be0a04;
  font-size: 15px;
  font-weight: 500;
}
.form__input__container input{

    width: 100%;
    margin-top: 5px;height: 30px;
    padding: 0px 10px;
  color: #242323;
  font-weight: 500;
  font-size: 16px;
}
.form__input__desc {
}
.form__input__button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.form__input__button button{
    background-color: #be0a04;
    color: #fff;
    padding: 10px 50px;
    font-size: 18px;
    border-radius: 55px;
}
.form__desc{
  width: 100%;
  text-align: center;
  color: #242323;
  margin-bottom: 45px;

}

.form__desc p {

  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}.form__desc span {
  font-size: 500;
  font-size: 19px;

}

.form__desc-otp{

  font-size: 18px;
  line-height: 28px;
}

.error__container{
  position: absolute;
  bottom: -46px;
  width: 100%;
  text-align: center;
  color: #be0a04;
  font-weight: 600;
}



.personal__wrapper {
  width: 100%;
  height: 100%;
  height: 100vh;
  background-color: #e3e3e3;
  display: flex;
  justify-content: space-between;
}
.perosnal__account__info {
  width: 350px;
  height: 100%;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.perosnal__account__info h1{
  font-size: 20px;
  text-align: center;
  max-width: 80%;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
}
.personal__account__info-additional {
  margin-top: 50px;
  height: 110px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.personal__account__info-additional a {
  color: #323232;
  font-weight: 600;
  font-size: 17px;

}
.personal__account__info-additional a:hover {
  color: #be0a04;
}
.perosnal__account__info button {
  background-color: #be0a04;
  color: #fff;
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #be0a04;
}
.perosnal__account__info button:hover{
  color: #be0a04;
  background-color: #fff;
}
.perosnal__account__info h1 {
  font-size: 20px;
  font-weight: 700;
}
.personal__account__data-wrapper {
  overflow-x: auto;
  width: calc(100% - 350px)
}
.personal__account__data-lock{
  height: 120px;
  padding: 20px;
}
/* Some basic styles to manage tab content */
.tab-content {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.tab-content.active {
  display: block;
}

.doktor_list_speciality_element{
  background-color: #e3e3e3;
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #be0a04;
  cursor: pointer;
}
.doktor_list_speciality_element:hover {
  background-color: #be0a04;
  color: #fff;
}
.doktor_list_speciality_element:hover p {
  color: #fff;
}
.doktor_list_speciality_element p{
  color: #be0a04;
  margin-bottom: 5px;
}
/* Preloader styles */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.doktor_single_element{
  margin-bottom: 20px;
  background-color: #e3e3e3;
  border-radius: 8px;
  border: 1px solid #be0a04;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  position: relative;
}
.doktor_single_element div{
  color: #1E1E1E;
}
.doktor_single_element div p:nth-child(1){
  color: #be0a04;
  font-size: 29px;
}

.doktor_single_element img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.doktor_single_element button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  background-color: #be0a04;
  color: #f9f9f9;
  font-size: 14px;
}

.personal__account_image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.personal__account_image img {
  width: 100px;
  height: 100px;
}




